#adjacency-matrix-spinner-container {
    width: 1000px;
    height: 1000px;
}
#adjacency-matrix-spinner {
    margin: 400px;
}

/*
Keep scrollbar visible to stop jittering while hovering over plotly
figures.
*/
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
